@font-face {
  font-family: "Anton";
  src: url(./fonts/Anton/Anton-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Mada-Black";
  src: url(./fonts/Mada/Mada-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Mada-SemiBold";
  src: url(./fonts/Mada/Mada-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Mada-Regular";
  src: url(./fonts/Mada/Mada-Regular.ttf) format("truetype");
}

/* * {
  overflow: hidden; 
} */

#footerspace1 {
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: #ffffff;
}

#linkedinmob {
  display: none;
}

.container1 {
  background-color: #000000;
}

.container2 {
  background-color: #ffffff;
  padding-top: 2vw;
  /* padding-left: 6rem; */
}

.header {
  margin-left: 4vw;
  margin-right: 4vw;
}

.header1 {
  margin-left: 4vw;
  margin-right: 4vw;
}

.textHeader {
  font-family: Anton;
  font-size: 8vw;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3.15px;
}

.btnContent {
  color: black;
}

.textHeader2 {
  font-family: Anton;
  font-size: 8vw;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3.15px;
}

.textHeader1 {
  font-family: Mada-Regular;
  font-size: 2vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-top: 3vw;
}

.textFooter1 {
  font-family: Anton;
  font-size: 3vw;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-left: 4vw;
  margin-right: 4vw;
}

.textFooter2 {
  font-family: Mada-Regular;
  font-size: 1.4vw;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 4vw;
  margin-right: 4vw;
}

.textFooter3 {
  font-family: Mada-Regular;
  font-size: 1.4vw;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 4vw;
  margin-right: 4vw;
}

.textContent1 {
  font-family: Mada-SemiBold;
  font-size: 2.5vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.textContent2 {
  font-family: Mada-Regular;
  font-size: 2vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.divContent {
  width: 70%;
  word-wrap: break-word;
  transition: 0.3s transform ease-in-out;
}

hr.solid {
  border-top: 1px solid white;
  margin: 1px 0;
}

.row1 {
  padding-top: 2vw;
  padding-bottom: 3vw;
}

.row2 {
  padding-top: 2vw;
  padding-bottom: 3vw;
}

/* .row3 {
  margin-top: 2vw;
  margin-left: 2vw;
} */

.stroke {
  color: black;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.accordion {
  /* margin: 1vw auto; */
  border: none !important;
  border-radius: 0px;
}

.accordion-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: #000000;
}

.accordion-item {
  border: none !important;
}

.accordion-content {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: left;
  background-color: #000000;
  color: #ffffff;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  /* #footerspace1 {
  } */

  #linkedinweb {
    display: none;
  }

  #linkedinmob {
    display: grid;
  }

  .container2 {
    background-color: #ffffff;
    padding-top: 3vw;
    /* padding-left: 6rem; */
  }

  .header {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .header1 {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .textHeader {
    font-family: Anton;
    font-size: 12.1vw;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3.15px;
  }

  .textHeader2 {
    font-family: Anton;
    font-size: 12.5vw;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3.15px;
  }

  .textHeader1 {
    font-family: Mada-Regular;
    font-size: 2vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: right;
    margin-top: 3vw;
  }

  .textFooter1 {
    font-family: Anton;
    font-size: 11vw;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .textFooter2 {
    font-family: Mada-Regular;
    font-size: 6vw;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .textFooter3 {
    font-family: Mada-Regular;
    font-size: 6vw;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .textContent1 {
    font-family: Mada-SemiBold;
    font-size: 3vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .textContent2 {
    font-family: Mada-Regular;
    font-size: 3vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  .divContent {
    width: 70%;
    word-wrap: break-all;
  }

  hr.solid {
    border-top: 1px solid white;
    margin: 1px 0;
  }

  .row1 {
    padding-top: 2vw;
    padding-bottom: 3vw;
  }

  .row2 {
    padding-top: 2vw;
    padding-bottom: 3vw;
    word-wrap: break-all;
  }
  /* 
  .row3 {
    margin-top: 2vw;
    margin-left: 6vw;
  } */

  .stroke {
    color: black;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }

  .accordion {
    border: none !important;
    border-radius: 0px;
  }

  .accordion-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: #000000;
  }

  .accordion-item {
    border: none !important;
  }

  .accordion-title:hover {
    background-color: #000000;
  }

  .accordion-content {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
  }
}
